.parent-loader {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999 !important;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid var(--pure);
  border-top-color: var(--primary);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
