.parent-loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999 !important;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid var(--pure);
  border-top-color: #fda444;
  border-left-color: #183a44;
  border-right-color: #f63f39;
  border-bottom-color: #1ba58c;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
