@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  height: 45px;
  width: 100%;
  border: 2px solid #dde6ef;
  border-radius: 4px;
  padding-left: 15px !important;
  transition: all 0.2s ease;
}
textarea {
  min-height: 100px;
  padding-top: 10px;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #dde6ef;
  outline: none;
}
input:hover,
textarea:hover,
select:hover {
  border: 2px solid var(--primary);
}
label {
  margin: 0 !important;
  padding: 0 !important;
}

button {
  height: 42px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  border: none;
  outline: none;
  border-radius: 4px !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  cursor: pointer;
  margin-bottom: -20px;
}
a {
  font-weight: 500;
  color: var(--primary) !important;
  transition: all 0.2s ease;
}
a:hover {
  text-decoration: underline;
}

.divider {
  border-bottom: 1px solid #e0e0e0;
  height: 1px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1eff2;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #e2e0ea;
  border-radius: 5px;
}
table {
  border: 1px solid #e0e0e0 !important;
  border-radius: 5px !important;
}

.new-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 20px;
}

.applied {
  color: #1e352f;
  font-weight: 500;
  font-size: 15px;
  background: rgba(11, 156, 49, 0.2);
  border-radius: 5px;
}
